:root {
  --primary: #170452;
  --secondary: #44dbdf;
  --tertiary: #e83c91;
  --quaternary: #ffcc00;
}

* {
  box-sizing: border-box;
  font-family: "PressStart2P", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: #170452;
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  margin: 0;
}

button {
  background-color: #ffcc00;
  border: 4px solid var(--tertiary);
  border-radius: 10px;
  color: var(--primary);
  font-size: 1rem;
  margin: 16px 0px;
  padding: 8px;
}

button:hover {
  cursor: pointer;
}

h5,
h6 {
  margin: 0px;
}

a,
a:visited,
a:active {
  color: var(--tertiary);
  text-decoration: none;
}

.header {
  color: var(--secondary);
  /* font-size: 1.2rem; */
  margin: 16px 8px;
  text-align: center;
}

.main-content {
  align-items: center;
  color: var(--quaternary);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 16px;
  text-align: center;
}

.stats {
  align-self: stretch;
  display: flex;
  justify-content: space-around;
}

.game-play {
  margin-top: 32px;
}

.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input {
  font-size: 1.2rem;
  max-width: 90%;
  padding: 10px 8px;
}

.sequence {
  font-size: 1.2rem;
  margin: 16px 0px;
}

.win-message,
.win-image {
  margin-top: 32px;
}

.hide {
  display: none;
}

.footer {
  color: var(--secondary);
  margin: 16px 8px;
  text-align: center;
}

.icon {
  margin: 0px 8px;
}

.overlay {
  align-items: center;
  background-color: var(--primary);
  color: var(--quaternary);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 24px;
  }
}
