:root {
  --primary: #170452;
  --secondary: #44dbdf;
  --tertiary: #e83c91;
  --quaternary: #ffcc00;
}

@font-face {
  font-family: "Micro5";
  src: url("../fonts/Micro5-Regular.woff2") format("woff2"), url("../fonts/Micro5-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Micro5", sans-serif;
}

html,
body {
  height: 100vh;
}

html {
  font-size: 24px;
}

body {
  background-color: #170452;
  display: flex;
  flex-direction: column;
  margin: 0;
}

button {
  background-color: #ffcc00;
  border: 4px solid var(--tertiary);
  border-radius: 10px;
  color: var(--primary);
  font-size: 1rem;
  margin: 16px 0px;
  padding: 8px;
}

.header {
  color: var(--secondary);
  font-size: 1.2rem;
  padding: 0px 16px;
  text-align: center;
}

.main-content {
  color: var(--quaternary);
  flex-grow: 1;
  margin: 16px;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.game-play {
  margin-top: 32px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input, .sequence, .results-message {
  font-size: 1.2rem;
}

.sequence {
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.footer {
  color: var(--secondary);
  text-align: center;
}

.overlay {
  align-items: center;
  background-color: var(--primary);
  color: var(--quaternary);
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
